body {
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    background-color: #F6F7FB;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    /* height: 100vh; now using min-height in order to scroll*/
    min-height: 100vh;
  }
  
  .trash {
    width:15px;
    margin-left:15px;
  }
  
  .avatar{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .row {
    border-top: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    border-left: 1px solid #DFDFDF;
    background-color: #FFFFFF;
    width : 50%;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 15px;
  }
  
  .last-row{
    border-bottom: 1px solid #DFDFDF;
  }
  
  h6 {
    font-size:14px;
    margin: 0px;
  
  }
  
  #count {
    font-weight: 600;
  }
  
  #add-message {
    padding: 7px;
    width: 80%;
    margin-right: 10px;
  }
  
  .btn-blue{
    background-color: transparent;
    border-color: #3097D1;
    color: #3097D1;
    padding: 7px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 5px;
  }
  
  .btn-blue:focus {
    outline:0;
  }
  
  /* applied to the new last row created in order to delete the double border */
  .new-last-row{
    border-top: none;
    border-bottom: 1px solid #DFDFDF;
  }
  
  /* applied to the divtext in order to always have the same width */
  .content {
    width: 444px;
  }
  
  .first-row {
    justify-content:left;
  }
  
  #add-search {
    padding: 7px;
    width: 50%;
    margin-right: 10px;
    margin-left: 10px;
  }
  